.styled_table {
  border-collapse: collapse;
  width: 100%;
}
th{
  background-color: #d9d9d9;
  padding: 8px;
    text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.break, tr:nth-child(even).break, .break a:link, .break a:visited {
    background: cadetblue;
    color: white;
    font-weight: bold;
}
.colstart {}
.colduration {}
.colend {}
.colepisode {}